/*MAIN.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*==========================*/
/*ALL DEVICE OPTIMIZATION*/
/*===========================*/


/*Huge Displays*/
@media (min-width: 3000px) {

}

/*Projector Screens and Ver Large Monitors*/
@media (min-width: 2561px) {

}

/*iMac 27, HD Screens and Large Monitors*/
@media (min-width: 1921px) and (max-width: 2560px) {

}

/*Large Widescreen Monitors*/
@media (max-width: 1920px) {
}

/*Medium Widescreen Monitors*/
@media (max-width: 1680px) {
}

/*Large Widescreen Laptops*/
@media (max-width: 1440px) {
}

/*Common Widescreen Laptops*/
@media (max-width: 1366px) {
}


/*Very Large Tablets and Medium Laptops*/
@media (max-width: 1280px) {
    .team-info > .valign {
        position:static;
        top:0px;
        padding-top:20px;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(-0%);
        transform: translateY(-0%);
	}
    .team-info{
	    padding: 0 20px;
	}
    .team-social{
	    margin-top: 10px;
	}
    .team-social > span {
        padding-top: 10px;
    }
}

/*Notebooks and Small Laptops*/
@media (max-width: 1152px) {

    
}

/*iPad Landscape Mode and Large Tablets */
@media (max-width: 1024px) {

	.team-info{
	    padding: 0 20px;
	}

	.team-info > .valign > p {
				font-size: 0.8em;
	}

	.foot-logo {
	  font-size: 0.7em;
	}

	.footer-column {
    padding: 50px;
}

.highlight-static-title h1 {
    font-size: 40px;
}


}

/*Small Desktop and Very Small Notebook */
@media (max-width: 980px) {


}

/*Medium Tablets */
@media (max-width: 800px) {


	.container{
		max-width: 800px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	img.img-responsive{
		display: inline-block;
	}
	.inner-pad{
		padding: 40px 20px;
	}
	.page-head{
		margin-top: 48px;
	}
	.split-home-panel .inner-pad{
		padding: 80px;
	}
	.split-home-panel .ms-right{
		opacity: 0;
	}
	.split-home-panel .ms-left{
		width:100% !important;
	}
	.ms-static-title{
		padding-left: 30px;
		padding-right: 30px;
		text-align: left;
	}
	.ms-static-title h1, .ms-section h1{
		font-size: 20px;
		line-height: 27px;
	}
	.news-item p > span, .ms-static-title h3 > span, .ms-section h3 > span, .agency-head h3 > span, .works-filter li a > span{
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 1px;
	}
	.ms-overlay{
		padding: 10px;
	}
	.credits-ticker h3, .sp-container h2, .master-footer h3, .main-heading, .works-item-inner h3, .news-item h1{
		font-size: 20px;
		line-height: 25px;
	}
	.sp-container h2.frame-4, .ticker-container h2, .news-post-inner h2, .error-content-inner h2{
		font-size: 28px;
		line-height: 35px;
	}
	.footer-column{
		padding: 30px;
	}
	#works-container, .news-container{
		padding: 0 !important;
	}
	.works-item, .news-item{
		width: 50% !important;
	}
	.home-06-container h2 > span{
		background-color: transparent;
		font-size: 24px;
		line-height: 31px;
		color: #fff;
	} .page-head h1 > span{
		font-size: 36px;
		line-height: 27px;
		letter-spacing: 1px;
	}
	.works-filter li{
		display: block;
		width: 100%;
		line-height: 20px;
	}
	.works-filter li:after{
		display: none;
	}
	.works-filter li a.active > span, .news-item p > span{
		padding-left: 7px;
	}
	.page-head h1 > span{
		padding: 7px;
	}
	.about-bg{
		background-size: cover;
	}
	.about-content-inner, .service-details, .team-job {
		padding-left: 40px;
		padding-right: 40px;
	}
	.credits-ticker li{
		padding: 20px !important;
	}
}


/*iPad Portrait Mode, iPad Mini and Small Tablets */
@media (max-width: 768px) {

	.container{
		max-width: 768px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	img.img-responsive{
		display: inline-block;
	}
	.inner-pad{
		padding: 40px 20px;
	}
	.page-head{
		margin-top: 48px;
	}
	.split-home-panel .inner-pad{
		padding: 76px;
	}
	.split-home-panel .ms-right{
		opacity: 0;
	}
	.split-home-panel .ms-left{
		width:100% !important;
	}
	.ms-static-title{
		padding-left: 30px;
		padding-right: 30px;
		text-align: left;
	}
	.ms-static-title h1, .ms-section h1{
		font-size: 20px;
		line-height: 27px;
	}
	.news-item p > span, .ms-static-title h3 > span, .ms-section h3 > span, .agency-head h3 > span, .works-filter li a > span{
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 1px;
	}
	.ms-overlay{
		padding: 10px;
	}
	.credits-ticker h3, .sp-container h2, .master-footer h3, .main-heading, .works-item-inner h3, .news-item h1{
		font-size: 20px;
		line-height: 24px;
	}
	.sp-container h2.frame-4, .ticker-container h2, .news-post-inner h2, .error-content-inner h2{
		font-size: 28px;
		line-height: 35px;
	}
	.footer-column{
		padding: 30px;
	}
	#works-container, .news-container{
		padding: 0 !important;
	}
	.works-item, .news-item{
		width: 50% !important;
	}
	.home-06-container h2 > span{
		background-color: transparent;
		font-size: 24px;
		line-height: 31px;
		color: #fff;
	} .page-head h1 > span{
		font-size: 36px;
		line-height: 24px;
		letter-spacing: 1px;
	}
	.works-filter li{
		display: block;
		width: 100%;
		line-height: 20px;
	}
	.works-filter li:after{
		display: none;
	}
	.works-filter li a.active > span, .news-item p > span{
		padding-left: 7px;
	}
	.page-head h1 > span{
		padding: 7px;
	}
	.about-bg{
		background-size: cover;
	}
	.about-content-inner, .service-details, .team-job {
		padding-left: 40px;
		padding-right: 40px;
	}
	.credits-ticker li{
		padding: 20px !important;
	}

}

/*Medium Smart Phones v2*/
@media screen and (max-width: 640px) {


	.container{
		max-width: 640px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	img.img-responsive{
		display: inline-block;
	}
	.inner-pad{
		padding: 40px 20px;
	}
	.page-head{
		margin-top: 48px;
	}
	.split-home-panel .inner-pad{
		padding: 60px;
	}
	.split-home-panel .ms-right{
		opacity: 0;
	}
	.split-home-panel .ms-left{
		width:100% !important;
	}
	.ms-static-title{
		padding-left: 30px;
		padding-right: 30px;
		text-align: left;
	}
	.ms-static-title h1, .ms-section h1{
		font-size: 20px;
		line-height: 27px;
	}
	.news-item p > span, .ms-static-title h3 > span, .ms-section h3 > span, .agency-head h3 > span, .works-filter li a > span{
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 1px;
	}
	.ms-overlay{
		padding: 10px;
	}
	.credits-ticker h3, .sp-container h2, .master-footer h3, .main-heading, .works-item-inner h3, .news-item h1{
		font-size: 20px;
		line-height: 27px;
	}
	.sp-container h2.frame-4, .ticker-container h2, .news-post-inner h2, .error-content-inner h2{
		font-size: 28px;
		line-height: 35px;
	}
	.footer-column{
		padding: 30px;
	}
	#works-container, .news-container{
		padding: 0 !important;
	}
	.works-item, .news-item{
		width: 50% !important;
	}
	.home-06-container h2 > span{
		background-color: transparent;
		font-size: 24px;
		line-height: 31px;
		color: #fff;
	} .page-head h1 > span{
		font-size: 36px;
		line-height: 25px;
		letter-spacing: 1px;
	}
	.works-filter li{
		display: block;
		width: 100%;
		line-height: 20px;
	}
	.works-filter li:after{
		display: none;
	}
	.works-filter li a.active > span, .news-item p > span{
		padding-left: 7px;
	}
	.page-head h1 > span{
		padding: 7px;
	}
	.about-bg{
		background-size: cover;
	}
	.about-content-inner, .service-details, .team-job {
		padding-left: 40px;
		padding-right: 40px;
	}
	.credits-ticker li{
		padding: 20px !important;
	}
	.main-logo{
		width: 100px;
	}
	.agency-head img{
		width: 125px;
	}

}


/*Google Nexus and Other Large Smart Phones v1*/
@media screen and (max-width: 600px) {


	.container{
		max-width: 600px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	img.img-responsive{
		display: inline-block;
	}
	.inner-pad{
		padding: 40px 20px;
	}
	.page-head{
		margin-top: 48px;
	}
	.split-home-panel .inner-pad{
		padding: 60px;
	}
	.split-home-panel .ms-right{
		opacity: 0;
	}
	.split-home-panel .ms-left{
		width:100% !important;
	}
	.ms-static-title{
		padding-left: 30px;
		padding-right: 30px;
		text-align: left;
	}
	.ms-static-title h1, .ms-section h1{
		font-size: 16px;
		line-height: 23px;
	}
	.news-item p > span, .ms-static-title h3 > span, .ms-section h3 > span, .agency-head h3 > span, .works-filter li a > span{
		font-size: 10px;
		line-height: 17px;
		letter-spacing: 1px;
	}
	.ms-overlay{
		padding: 10px;
	}
	.credits-ticker h3, .sp-container h2, .master-footer h3, .main-heading, .works-item-inner h3, .news-item h1{
		font-size: 16px;
		line-height: 21px;
	}
	.sp-container h2.frame-4, .ticker-container h2, .news-post-inner h2, .error-content-inner h2{
		font-size: 24px;
		line-height: 31px;
	}
	.footer-column{
		padding: 30px;
	}
	#works-container, .news-container{
		padding: 0 !important;
	}
	.works-item, .news-item{
		width: 50% !important;
	}
	.home-06-container h2 > span{
		background-color: transparent;
		font-size: 20px;
		line-height: 27px;
		color: #fff;
	} .page-head h1 > span{
		font-size: 36px;
		line-height: 21px;
		letter-spacing: 0.1em;
	}
	.works-filter li{
		display: block;
		width: 100%;
		line-height: 20px;
	}
	.works-filter li:after{
		display: none;
	}
	.works-filter li a.active > span, .news-item p > span{
		padding-left: 7px;
	}
	.page-head h1 > span{
		padding: 7px;
	}
	.about-bg{
		background-size: cover;
	}
	.about-content-inner, .service-details, .team-job {
		padding-left: 40px;
		padding-right: 40px;
	}
	.credits-ticker li{
		padding: 20px !important;
	}
	.main-logo{
		width: 100px;
	}
	.agency-head img{
		width: 125px;
	}

}


/*iPhone Landscape Mode and Mediium Smart Phones*/
@media screen and (max-width: 480px) {


	.container{
		max-width: 480px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	img.img-responsive{
		display: inline-block;
	}
	.inner-pad{
		padding: 40px 20px;
	}
	.page-head{
		margin-top: 48px;
	}
	.split-home-panel .inner-pad{
		padding: 48px;
	}
	.split-home-panel .ms-right{
		opacity: 0;
	}
	.split-home-panel .ms-left{
		width:100% !important;
	}
	.ms-static-title{
		padding-left: 30px;
		padding-right: 30px;
		text-align: left;
	}
	.ms-static-title h1, .ms-section h1{
		font-size: 16px;
		line-height: 23px;
	}
	.news-item p > span, .ms-static-title h3 > span, .ms-section h3 > span, .agency-head h3 > span, .works-filter li a > span{
		font-size: 10px;
		line-height: 17px;
		letter-spacing: 1px;
	}
	.ms-overlay{
		padding: 10px;
	}
	.credits-ticker h3, .sp-container h2, .master-footer h3, .main-heading, .works-item-inner h3, .news-item h1{
		font-size: 16px;
		line-height: 21px;
	}
	.sp-container h2.frame-4, .ticker-container h2, .news-post-inner h2, .error-content-inner h2{
		font-size: 24px;
		line-height: 31px;
	}
	.footer-column{
		padding: 30px;
	}
	#works-container, .news-container{
		padding: 0 !important;
	}
	.works-item, .news-item{
		width: 100% !important;
	}
	.home-06-container h2 > span{
		background-color: transparent;
		font-size: 20px;
		line-height: 27px;
		color: #fff;
	} .page-head h1 > span{
		font-size: 36px;
		line-height: 21px;
		letter-spacing: 1px;
	}
	.works-filter li{
		display: block;
		width: 100%;
		line-height: 20px;
	}
	.works-filter li:after{
		display: none;
	}
	.works-filter li a.active > span, .news-item p > span{
		padding-left: 7px;
	}
	.page-head h1 > span{
		padding: 7px;
	}
	.about-bg{
		background-size: cover;
	}
	.about-content-inner, .service-details, .team-job {
		padding-left: 40px;
		padding-right: 40px;
	}
	.credits-ticker li{
		padding: 20px !important;
	}
	.main-logo{
		width: 75px;
	}
	.agency-head img{
		width: 100px;
	}

}

/*Other Major Small Smart Phones*/
@media screen and (max-width: 360px) {


	.container{
		max-width: 360px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	img.img-responsive{
		display: inline-block;
	}
	.inner-pad{
		padding: 40px 20px;
	}
	.page-head{
		margin-top: 48px;
	}
	.split-home-panel .inner-pad{
		padding: 36px;
	}
	.split-home-panel .ms-right{
		opacity: 0;
	}
	.split-home-panel .ms-left{
		width:100% !important;
	}
	.ms-static-title{
		padding-left: 30px;
		padding-right: 30px;
		text-align: left;
	}
	.ms-static-title h1, .ms-section h1{
		font-size: 16px;
		line-height: 23px;
	}
	.news-item p > span, .ms-static-title h3 > span, .ms-section h3 > span, .agency-head h3 > span, .works-filter li a > span{
		font-size: 10px;
		line-height: 17px;
		letter-spacing: 1px;
	}
	.ms-overlay{
		padding: 10px;
	}
	.credits-ticker h3, .sp-container h2, .master-footer h3, .main-heading, .works-item-inner h3, .news-item h1{
		font-size: 16px;
		line-height: 21px;
	}
	.sp-container h2.frame-4, .ticker-container h2, .news-post-inner h2, .error-content-inner h2{
		font-size: 24px;
		line-height: 31px;
	}
	.footer-column{
		padding: 30px;
	}
	#works-container, .news-container{
		padding: 0 !important;
	}
	.works-item, .news-item{
		width: 100% !important;
	}
	.home-06-container h2 > span{
		background-color: transparent;
		font-size: 20px;
		line-height: 27px;
		color: #fff;
	} .page-head h1 > span{
		font-size: 30px;
		line-height: 21px;
		letter-spacing: 1px;
	}
	.works-filter li{
		display: block;
		width: 100%;
		line-height: 20px;
	}
	.works-filter li:after{
		display: none;
	}
	.works-filter li a.active > span, .news-item p > span{
		padding-left: 7px;
	}
	.page-head h1 > span{
		padding: 7px;
	}
	.about-bg{
		background-size: cover;
	}
	.about-content-inner, .service-details, .team-job {
		padding-left: 40px;
		padding-right: 40px;
	}
	.credits-ticker li{
		padding: 20px !important;
	}
	.main-logo{
		width: 75px;
	}
	.agency-head img{
		width: 100px;
	}

}

/*iPhone Portrait Mode and Very Small Mobile Phones*/
@media screen and (max-width: 320px) {

	.container{
		max-width: 320px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	img.img-responsive{
		display: inline-block;
	}
	.inner-pad{
		padding: 40px 20px;
	}
	.page-head{
		margin-top: 48px;
	}
	.split-home-panel .inner-pad{
		padding: 32px;
	}
	.split-home-panel .ms-right{
		opacity: 0;
	}
	.split-home-panel .ms-left{
		width:100% !important;
	}
	.ms-static-title{
		padding-left: 30px;
		padding-right: 30px;
		text-align: left;
	}
	.ms-static-title h1, .ms-section h1{
		font-size: 16px;
		line-height: 23px;
	}
	.news-item p > span, .ms-static-title h3 > span, .ms-section h3 > span, .agency-head h3 > span, .works-filter li a > span{
		font-size: 10px;
		line-height: 17px;
		letter-spacing: 1px;
	}
	.ms-overlay{
		padding: 10px;
	}
	.credits-ticker h3, .sp-container h2, .master-footer h3, .main-heading, .works-item-inner h3, .news-item h1{
		font-size: 16px;
		line-height: 21px;
	}
	.sp-container h2.frame-4, .ticker-container h2, .news-post-inner h2, .error-content-inner h2{
		font-size: 24px;
		line-height: 31px;
	}
	.footer-column{
		padding: 30px;
	}
	#works-container, .news-container{
		padding: 0 !important;
	}
	.works-item, .news-item{
		width: 320px !important;
	}
	.home-06-container h2 > span{
		background-color: transparent;
		font-size: 20px;
		line-height: 27px;
		color: #fff;
	} .page-head h1 > span{
		font-size: 30px;
		line-height: 21px;
		letter-spacing: 1px;
	}
	.works-filter li{
		display: block;
		width: 100%;
		line-height: 20px;
	}
	.works-filter li:after{
		display: none;
	}
	.works-filter li a.active > span, .news-item p > span{
		padding-left: 7px;
	}
	.page-head h1 > span{
		padding: 7px;
	}
	.about-bg{
		background-size: cover;
	}
	.about-content-inner, .service-details, .team-job {
		padding-left: 40px;
		padding-right: 40px;
	}
	.credits-ticker li{
		padding: 20px !important;
	}
	.main-logo{
		width: 75px;
	}
	.agency-head img{
		width: 100px;
	}

}
