.intro-bg{
}
.ticker-container .ticker-emblem{
	margin-bottom: 20px;
}
.ticker-container h2{
	font-family: "Montserrat",sans-serif;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 41px;
    padding: 7px 7px 7px 15px;
    text-transform: uppercase;
}


.poster-img{
    background-image: url('../images/poster.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 100vh;
}
